
.stu{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5); /* Increase shadow on hover */
    border-radius: 6px;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);;

}


.Gui{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);;
    border-radius: 6px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5); /* Increase shadow on hover */

}



.text{
    border-radius: 6px;
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5); /* Increase shadow on hover */


}



